@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@1,700&display=swap");

.page_title {
    text-align: center;
    font-family: "Philosopher", sans-serif;
}

.img_not_found {
    height: 500px;
    display: block;
    margin: auto;
}